@import "tailwindcss";

/* Anda bisa menambahkan CSS custom lainnya di bawah sini */
.gold-text {
  background: linear-gradient(90deg, #ca8a04 0%, #eab308 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  body {
    /* 0.6 artinya tampilan desktop dikecilkan menjadi 60% agar muat di HP */
    zoom: 0.6; 
    width: 166.66%; /* Menyeimbangkan agar tidak ada ruang kosong di samping */
    transform-origin: top left;
  }
}

html {
  scroll-behavior: smooth;
}